/*
* Tess McMenamin
* October 26th  
* My Favorite Things 03  
*/

?* The universal selector */ 

*{

}

/* Body attributes here */ 

Body {
    background-color: 
}
#basketball {width:200px; height:200px;} 
#food  {width:200px; height:100px;} 
#friends show  {width:300px; height:200px;} 